hr{border:1px solid #ddd;margin:8px}.error{color:#a00;text-decoration:underline}.green{color:#19b432}a{color:#19b432;text-decoration:underline}a:hover{color:#19b432;cursor:pointer}div#main.container-fluid{padding:0}div#main-div{padding:0}.btn-primary{background-image:none;background-color:#19b432;border-color:#09a422;text-decoration:none}.btn-primary:focus,.btn-primary:hover{background-color:#09a422;border-color:#09a422}.btn-primary:disabled{background-color:#09a422;border-color:#09a422}.vcenter{display:inline-block;vertical-align:middle;float:none}.font-size-10{font-size:10px}.font-size-11{font-size:11px}.font-size-12{font-size:12px}.font-size-13{font-size:13px}.font-size-14{font-size:14px}.font-size-15{font-size:15px}.font-size-16{font-size:16px}.font-size-17{font-size:17px}.font-size-18{font-size:18px}.font-size-19{font-size:19px}.font-size-20{font-size:20px}.pull-down,.pull-down-10{margin-top:10px}.pull-down-5{margin-top:5px}.pull-down-20{margin-top:20px}.pull-down-30{margin-top:30px}.pull-down-40{margin-top:40px}.pull-down-50{margin-top:50px}.header{height:39px;position:relative;background:#3c3c3c url(images/header_arrow-down_20x7.png) no-repeat 110px top;border-top:4px solid #19b432}.header-title{position:absolute;top:3px;left:40px;height:35px;color:#eee;font-size:19px;font-family:Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header-logo {
  position: absolute;
  margin-top: -5px;
  right: 100px;
  width: 185px;
  height: 60px;
  background: url(images/header_logo_185x60.png) no-repeat 0 0;
}

#perfplus-navbar {
  height: 39px;
  background: #333 url(images/header_arrow-down_20x7.png) no-repeat 110px top;
  border-top: 4px solid #19b432;
}

#perfplus-navbar a {
  text-shadow: none;
  text-decoration: underline;
}

#perfplus-navbar a:hover {
  color: #19b432;
}

#perfplus-navbar .navbar-brand {
  color: #eee;
  font-size: 19px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#perfplus-navbar .header-logo {
  position: absolute;
  margin-top: -4px;
  right: 100px;
  width: 185px;
  height: 60px;
  background: url(images/header_logo_185x60.png) no-repeat 0 0;
}

@media (max-width: 768px) {

  #perfplus-navbar .navbar-collapse {
    background-color: #333;
  }

}

#perfplus-navbar .navbar-toggle {
  background-color: #333;
}

#perfplus-navbar .navbar-toggle .icon-bar {
  background-color: #888;
}

#perfplus-navbar .navbar-toggle:hover {
  background-color: #555;
}

#perfplus-navbar .contact {
  background: url(images/header_contact_19x13.png) no-repeat center left;
  color: #A3A2A2;
  padding: 15px 0px 10px 29px;
  margin-left: 50px;
  font-family: 'Droid Serif',arial,serif;line-height:17px}.footer{line-height:12px;font-family:Arial;height:65px;outline-color:#a3a2a2;outline-width:0;text-align:center;font-weight:normal;outline-style:none;font-size:11px;letter-spacing:1px;font-style:normal;font-variant:normal;color:#a3a2a2;font-stretch:normal}#switchPanel h3{margin-top:12px}#chartPanel{background-color:lightGray;height:auto;padding-bottom:10px}#chartPanel #chart{height:450px;padding:0;background-color:#bbb}.icon-excel{background:url(images/excel.gif) no-repeat center left}.indicatorviewer{height:25px}.indicatoreditor{height:30px}.indicatoreditor a{text-decoration:none}